h1{ 
  margin-left: 25%;
   font-family: "Lucida Console", "Monaco", monospace;
  }
form{
  margin-top: 30px;
}
body {
  background-color: rgb(84, 174, 96);
}


.fundo {
  background-color: rgb(250, 252, 250); 
  margin-top: 0px;
  margin-left: -1%; 

}

.container{
  margin-top:30px;
  background-color:  rgb(255, 255, 255); 
  width: 1000px; 
  height: 80%; 
 
}

div {
  margin-top: 0px; 
  margin-left: 0%; 
  width: 60%;
}

.input-group {
  margin-left: 17%;
}

.form-floating {
  margin-top: 50px; 
  margin-left: 17%; 
  width: 60%;
}

.tb {
  margin-top: 50px; 
  margin-left: 17%;
}


  .table {
    background-color: rgb(255, 250, 235);
    border-radius: 5px;
  }
  .ingredientes {
    background-color: rgb(248, 202, 200);
    border-radius: 5px;
  }

.form-select {
  width: 5%;
  margin-right: 20px;
  display: table-cell;
    float: left;
}

.buttons-2{
  margin-bottom:50px;
}
.calend{
  margin-right: 20px;
}
img{
  margin-top: -10px;
}

.row{
  width: 5000%
}

.logins{
  margin-left: 200px;
}