
.w3-container{
  background-color: white; 
  width: 600px; 
  height: 180%; 
  border-radius: 5px; 
  margin-left: 31%;
}

body {
  background-color: rgb(84, 174, 96);
}

.fundo {
  background-color: rgb(250, 252, 250); 
  margin-top: 0px; 
  margin-left: -3%; 
  width: 110%;
}

h2 {
  margin-bottom: 50px;
  margin-left: 10%; 
  font-family: "Lucida Console", "Monaco", monospace
}

div {
  margin-top: 50px;
  margin-left: 17%;
    width: 60%;
  
  }

  .table {
    background-color: rgb(255, 250, 235);
    border-radius: 5px;
  }
  .ingredientes {
    background-color: rgb(248, 202, 200);
    border-radius: 5px;
  }

.input-group {
  margin-top: -10px;
  width: 118%;
  
}

.form-select {
  width: 5%;
  margin-right: 15px;
  display: table-cell;
    float: left;
}

.btn{
  margin-left: 10%;
  margin-top: 10px;
  margin-right: 0px;
}